<!-- wp:template-part {"slug":"header","theme":"psychotherapy","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"slider-main-box swiper mySwiper","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"gradient":"primary-gradient","layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} -->
<main class="wp-block-group slider-main-box swiper mySwiper has-primary-gradient-gradient-background has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"psychotherapy/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"psychotherapy/specialized-section"} /-->

<!-- wp:pattern {"slug":"psychotherapy/project-section"} /-->

<!-- wp:pattern {"slug":"psychotherapy/about-us-section"} /-->
<!-- wp:pattern {"slug":"psychotherapy/testimonials-section"} /-->
<!-- wp:pattern {"slug":"psychotherapy/faq-section"} /-->
<!-- wp:pattern {"slug":"psychotherapy/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"psychotherapy","tagName":"footer"} /-->